<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/resume.css">
  <title>Resume</title>
</head>
<body>
    <iframe class="pdf" src="/assets/resume.pdf">
      <p>It appears you don't have a PDF plugin for this browser.
      No biggie... you can <a href="/assets/resume.pdf">click here to
       download the PDF file.</a></p>
     </iframe>
</body>
</html>